<%- include("../partials/layout-top") %>

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Danh Sách Người Dùng</h4>

        <% if (messages['error']){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Lỗi !</strong> <%= messages['error'] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <% if (messages['success']){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Thành công !</strong> <%= messages['success'] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <!-- Basic Layout & Basic with Icons -->
        <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-body">

                        <table class="table table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>SĐT</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th><a class="btn btn-primary" href="/admin/user/restore">Khôi Phục</a></th>
                            </tr>
                            </thead>

                            <tbody>

                            <% for(let i = 0; i < users.rows.length;i++) {
                                const user = users.rows[i] %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= user?.full_name %></td>
                                <td><%= user?.username %></td>
                                <td><%= user?.email %></td>
                                <td><%= user?.phone_number %></td>
                                <td><%= user?.gender == false ? 'Nam' : 'Nữ'  %></td>
                                <td><%= user?.address %></td>
                                <td>
                                    <a class="btn btn-primary mb-2" href="/admin/user/edit/<%= user?.id %>">Sửa</a>
                                    
                                    <a class="btn btn-primary" href="/admin/user/delete/<%= user?.id %>">Xoá</a>
                                </td>
                            </tr>

                            <% } %>
                            </tbody>
                        </table>

                        <nav class="mt-4">
                            <ul class="pagination justify-content-center">
                                <% for (let i = 0, j = 1; i < users?.count; i += 9, j++){
                                if (offset <= i && offset > i - 9){ %>
                                    <li class="page-item active">
                                        <a class="page-link" href="?offset=<%= i %>"><%= j %></a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?offset=<%= i %>"><%= j %></a>
                                    </li>
                                <% }} %>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->

    <!-- Footer -->
    <!-- / Footer -->

    <!-- <div class="content-backdrop fade"></div> -->
</div>

<%- include("../partials/layout-bot") %>