<!-- @format -->

<div id="preloder">
	<div class="loader"></div>
</div>

<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
	<div class="humberger__menu__logo">
		<a href="#"><img src="img/logo.png" alt="" /></a>
	</div>

	<div class="humberger__menu__cart">
		<ul>
			<li>
				<a href="#"><i class="fa fa-heart"></i> <span>1</span></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
			</li>
		</ul>
		
	</div>

	<div class="humberger__menu__widget">
		<div class="header__top__right__language">
			
		</div>
		<div class="header__top__right__auth">
			<a href="#"><i class="fa fa-user"></i> Login</a>
		</div>
	</div>

	<nav class="humberger__menu__nav mobile-menu">
		<ul>
			<li class="active"><a href="/">Trang chủ</a></li>
			<!-- <li>
				<a href="#">Pages</a>
				<ul class="header__menu__dropdown">
					<li><a href="./shop-details.html">Shop Details</a></li>
					<li><a href="./shoping-order.html">Shoping Cart</a></li>
					<li><a href="./checkout.html">Check Out</a></li>
					<li><a href="./blog-details.html">Blog Details</a></li>
				</ul>
			</li> -->
			<li><a href="/blogs">Blog</a></li>
			<li><a href="/my-order">Đơn Hàng</a></li>
		</ul>
	</nav>

	<div id="mobile-menu-wrap"></div>

	<div class="header__top__right__social">
		
	</div>

	<div class="humberger__menu__contact">
		<ul>
			
		</ul>
	</div>
</div>

<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="header__top__left">
						
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="header__top__right">
						

						<% if (isLoggedIn) { %>
						<div class="header__top__right__language">
							<div><i class="fa fa-user mr-1"></i> Chào <%=user.full_name%></div>
							<span class="arrow_carrot-down"></span>
							<ul>
								<li><a href="/api/logout">Thoát</a></li>
							</ul>
						</div>

						<% } else { %>

						<div class="header__top__right__auth">
							<%=JSON.stringify(user)%>
							<a href="/login"><i class="fa fa-user"></i> Đăng nhập</a>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="header__logo">
					<a href=""><img src="" alt="" /></a>
				</div>
			</div>
			<div class="col-lg-6">
				<nav class="header__menu">
					<ul>
						<li class="active"><a href="/">Trang chủ</a></li>
						<!-- <li>
							<a href="#">Pages</a>
							<ul class="header__menu__dropdown">
								<li><a href="./shop-details.html">Shop Details</a></li>
								<li><a href="./shoping-order.html">Shoping Cart</a></li>
								<li><a href="./checkout.html">Check Out</a></li>
								<li><a href="./blog-details.html">Blog Details</a></li>
							</ul>
						</li> -->
						<li><a href="/collections">Sản Phẩm</a></li>
						<li><a href="/blogs">Blog</a></li>

						<li><a href="/my-order">Đơn Hàng</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3">
				<div class="header__cart">
					<ul>
						<li>
							<a href="/my-profile"><i class="fa fa-user mr-1"></i></a>
						</li>
						<li>
							<a href="/cart"><i class="fa fa-shopping-bag fa-2x"></i> <span><%= cart?.length || 0 %></span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="humberger__open">
			<i class="fa fa-bars"></i>
		</div>
	</div>
</header>

<section class="hero hero-normal">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="hero__categories">
					<div class="hero__categories__all">
						<i class="fa fa-bars"></i>
						<span>Danh mục</span>
					</div>
					<ul>
						<% for (let i = 0; i < productCategories.length; i++){ %>
						<li><a href="/category/<%-productCategories[i]?.slug%>"><%=productCategories[i]?.name%></a></li>
						<% } %>
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="hero__search">
					<div class="hero__search__form">
						<form method="GET" action="/collections/search" >
							<input type="text" name="kw" placeholder="Nhập sản phẩm cần tìm?" autocomplete="off" />

							<button type="submit" class="site-btn">TÌM KIẾM</button>
						</form>
					</div>
					<div class="hero__search__phone">
						<div class="hero__search__phone__icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="hero__search__phone__text">
							<h5>+65 11.188.888</h5>
							<span>support 24/7 time</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
